<!DOCTYPE html>
<html lang="en">

<head>
  	   

    <link rel="icon" href="/img/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/img/favicon.ico" type="img/x-icon">
    
    <title>Minio Shopping Example</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Custom CSS -->
     <link href="css/miniostore.css" rel="stylesheet">
  

</head>

<body>
  
	    <!-- Navigation -->
	       <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	           <div class="container">
	               <!-- Brand and toggle get grouped for better mobile display -->
	               <div class="navbar-header">
	                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                       <span class="sr-only">Toggle navigation</span>
	                       <span class="icon-bar"></span>
	                       <span class="icon-bar"></span>
	                       <span class="icon-bar"></span>
	                   </button>
	                   <a class="navbar-brand" href="#">
	                       	  <i class="fa fa-tint fa-lg" style="color: #f14621;"></i>
	                   </a>
	               </div>
	               <!-- Collect the nav links, forms, and other content for toggling -->
	               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                   <ul class="nav navbar-nav">
	                       <li>
	                           <a href="#"> Minio Store </a>
	                       </li>
						   
	                       <li>
	                           <a href="#"> About Us</a>
	                       </li>
	                       
	                   </ul>
	               </div>
	               <!-- /.navbar-collapse -->
	           </div>
	           <!-- /.container -->
	       </nav>
 
        {{{body}}}
      
    </body>
</html>